.additem-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
  form {
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.5em;
    label {
      margin: 0.5em;
      align-self: flex-start;
      margin-left: 1em;
    }
    input {
      font-size: 1rem;
      padding: 0.5em;
      width: 50%;
    }
    button {
      width: 20%;
      font-size: 1rem;
      padding: 0.25em;
      margin: auto;
      margin-top: 1em;
    }
  }
}
